h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 15vw 1fr;
  grid-template-rows: 6% 30% 30% 30% 4%;
  grid-column-gap: 5%;
  grid-row-gap: 2%;
  align-items: center;
  grid-template-areas:
    "wgs84label . cgcs2000select"
    "wgs84 checkbox cgcs2000"
    "wgs84 format cgcs2000"
    "wgs84 convert cgcs2000"
    "footer footer footer";
  padding-left: 5%;
  padding-right: 5%;
}

.textarea {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  border: 5px;
  font-size: 16px;
  background-color: #eee;
  resize: none;
}
#wgs84label {
  grid-area: wgs84label;
  font-weight: bold;
}
#cgcs2000select {
  grid-area: cgcs2000select;
  font-weight: bold;
}
#wgs84 {
  grid-area: wgs84;
}
#cgcs2000 {
  grid-area: cgcs2000;
}

#convert {
  grid-area: convert;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 5px;
}
#checkbox {
  grid-area: checkbox;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  font-weight: bold;
  background-color: #eee;
  align-items: stretch;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 5px;
}
#formatbox {
  grid-area: format;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 5px;
}
button[type="button"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

button[type="button"]:hover {
  background-color: #3e8e41;
}
checkbox[type="checkbox"] {
  width: 60px;
  height: 10px;
}

input {
  width: 18px;
  height: 18px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 0px;
}

select {
  padding: 8px;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
  border-radius: 5px;
  border: 5px;
  font-size: 0.7vw;
}
